{% extends "base.html" %}

{% block title %} Comment {% endblock %}

{% block content %}
        <h2>{{ r.name }}的評價</h2>
        {% if r.comment_set.all %}
        <p>目前共有{{ r.comment_set.all|length }}條評價</p>
        <table class="table table-hover">
            <tr>
                <th>留言者</th>
                <th>時間</th>
                <th>評價</th>
            </tr>
            {% for c in r.comment_set.all %}
            <tr>
                <td> {{ c.visitor }} </td>
                <td> {{ c.date_time | date:"F j, Y" }} </td>
                <td> {{ c.content }} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>無評價</p>
        {% endif %}

        <br /><br />
        {% if form.errors %}
        <p style="color:red;">
            請依提示修復表單錯誤
        </p>
        {% endif %}

        <form action="" method="post" class="form-horizontal" role="form" style="width:33%; margin:auto; text-align:left">{% csrf_token %}
            <div class="form-group">
            <label for="visitor">留言者:</label>
            {{ form.visitor }}
            {{ form.visitor.errors }}
            </div>
            <div class="form-group">
                <label for="email">電子信箱:</label>
            {{ form.email }}
            {{ form.email.errors }}
            </div>
            <div class="form-group">
            <label for="content">評價:</label>
            {{ form.content }}
            {{ form.content.errors }}
            </div>
            <input type="submit" value="給予評價" class="btn btn-default">
        </form>
{% endblock %}
