{% extends "base.html" %}
{% load myfilters %}

{% block title %} Menu {% endblock %}

{% block content %}
    <h2>{{ restaurant.name }}的Menu</h2>
    {% if restaurant.food_set.all %}
    <p>本餐廳共有{{ restaurant.food_set.all|length }}道菜</p>
    <table class="table table-hover">
        <tr>
            <th>菜名</th>
            <th>價格</th>
            <th>註解</th>
            <th>辣不辣</th>
        </tr>
        {% for food in restaurant.food_set.all %}
        <tr>
            <td> {{ food.name }} </td>
            <td> {{ food.price }} </td>
            <td> {{ food.comment }} </td>
            <td> {{ food.is_spicy|yes_no:"辣/不辣" }} </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>本餐廳啥都沒賣</p>
    {% endif %}
{% endblock %}
