{% extends "base.html" %}

{% block title %} Restaurants {% endblock %}

{% block content %}
        <h2>餐廳列表</h2>
        <form action="/menu/" method="get">
        <table class="table table-hover">
            <tr>
                <th>選取</th>
                <th>店名</th>
                <th>電話</th>
                <th>地址</th>
                <th>評價</th>
            </tr>
            {% for r in restaurants %}
            <tr>
                 <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                <td> {{ r.name }} </td>
                <td> {{ r.phone_number }} </td>
                <td> {{ r.address }} </td>
                <td> <a href="/comment/{{r.id}}/"> 評價 </a> </td> 
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="觀看menu" class="btn btn-default">
        </form>
{% endblock %}
