{% extends "base.html" %}

{% block title %} Restaurants {% endblock %}

{% block content %}
        <h2>餐廳列表</h2>
        <table class="table table-hover">
            <tr>
                <th>選取</th>
                <th>店名</th>
                <th>電話</th>
                <th>地址</th>
                <th>評價</th>
            </tr>
            {% for r in restaurants %}
            <tr>
                <td> <a href="/menu/{{r.id}}/"> 看菜單 </td>
                <td> {{ r.name }} </td>
                <td> {{ r.phone_number }} </td>
                <td> {{ r.address }} </td>
                <td> <a href="/comment/{{r.id}}/"> 評價 </a> </td> 
            </tr>
            {% endfor %}
        </table>
{% endblock %}
