<!doctype html>
<html>
    <head>
        <title> Menu </title>
        <meta charset='utf-8'>
    </head>
    <body>
        <p>本餐廳共有{{ foods|length }}道菜</p>
        {% for food in foods %}
        <h3>第{{ forloop.counter }}道食物</h3>
        <ul>
            <li> 食物的名字是:{{ food.name }} </li>
            <li> 食物的價格是:{{ food.price }} </li>
            <li> 食物說明: {{ food.comment }} </li>
            <li> 食物會辣？ {% if food.is_spicy %} 辣 {% else %} 不辣 {% endif %} </li>
        </ul>
        {% empty %}
            <p>本餐廳啥都沒賣！</p>
        {% endfor %}
    </body>
</html>
